<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Recipes Catalog</title>
<link rel="stylesheet" type="text/css"
	href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
<link
	href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
	rel="stylesheet">
<link th:href="@{/style/material-dashboard.css}" rel="stylesheet">


</head>
<body class="g-sidenav-show  bg-gray-200">
	<div th:replace="~{fragments/sidebar.html :: sidebar}"></div>
	<main
		class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

		<div th:insert="~{fragments/navigation.html :: navigation}"></div>


		<div class="container-fluid py-4">
			<div class="row">
				<div class="col-12">
					<div class="card my-4">
						<div
							class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
							<div
								class="d-flex justify-content-between bg-gradient-success shadow-success border-radius-lg pt-4 pb-3">
								<h6 class="text-white text-capitalize ps-3">Produktų
									sąrašas</h6>


								<a 
									class="d-flex nav-link text-white " href="/product/new">
									<div
										class="text-white text-center me-2 d-flex align-items-center justify-content-center">
										<i class="material-icons opacity-10">library_add</i>
									</div> <span class="nav-link-text ms-1">Prideti produktą</span>
								</a>
							</div>

						</div>
						<div class="card-body px-0 pb-2">
							<div class="table-responsive p-0">
								<table class="table align-items-center mb-0">
									<thead>
										<tr>
											<th
												class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Pavadinimas</th>
											<th
												class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Svoris</th>
											<th
												class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Mato
												vnt.</th>
											<th
												class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Kaina</th>

											<th
												class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Veiksmai</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="product:${products}">
											<td>
												<div class="d-flex px-3 py-1">
													<div class="d-flex flex-column justify-content-center pl-3">
														<h6 th:text="${product.name}" class="mb-0 text-sm"></h6>
													</div>
												</div>
											</td>
											<td>
												<p th:text="${product.weight}"
													class="text-xs font-weight-bold mb-0"></p>
											</td>
											<td class="align-middle text-center text-sm">
												<p th:text="${product.unit}"
													class="text-xs font-weight-bold mb-0"></p>
											<td class="align-middle text-center">
												<p th:text="${product.price}"
													class="text-xs font-weight-bold mb-0"></p>
											</td>

											<td class="px-2 align-middle text-center"><a
												
												th:href="'/product/update/'+${product.id}"
												class="text-secondary font-weight-bold text-xs px-2"
												data-toggle="tooltip" data-original-title="Edit user"> <i
													class="material-icons opacity-10">edit_note</i>
											</a> <a 
												th:href="'/product/delete/'+${product.id}"
												class="text-secondary font-weight-bold text-xs px-2"
												data-toggle="tooltip" data-original-title="Edit user"> <i
													class="material-icons opacity-10">delete_forever</i>
											</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>